<div class="content row" ng-init="getProfiles()">
	<div cg-busy="profiePromise">
		<div class="container">
			<div id="navbar" class="navbar navbar-default navbar-collapse collapse">
				<form class="navbar-form" name="search_form" ng-submit="submitSearch()">
					<div class="form-group navbar-left col-xs-12 col-sm-12 col-md-12">
						<div class="col-xs-2">
							<label>Gender: </label>
							<select name="gender" class="form-control selectInput" ng-model="searchOptions.gender">
								<option value="">All</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
						</div>
						<div class="col-xs-3">
							<label>Age: </label>
							<input type="text" id="amount" class="ui-age-text" readonly>
							<div id="age-slider"></div>
						</div>
						<div class="col-xs-5">
							<label>Country: </label>
							<country-select name="country" class="form-control selectInput" ng-model="searchOptions.country" cs-priorities="CA, GB, US"></country-select>
						</div>
						<div class="col-xs-2">
							<input type="submit" value="Search" class="btn btn-default"/>
						</div>
					</div>
				</form>
			</div><!--/.nav-collapse -->
		</div>
		<div profile_view></div>
	</div>
</div>
