<div class="content row container-fluid" ng-init="step = 0">
	<div class="well col-xs-10 col-sm-10 col-md-10">
        <div class="page-header text-center">
          <div class="alert alert-danger" ng-show="emailAlert">
  						<p><strong>Error: </strong>{{emailError}}</p>
  				</div>
          <form id="user-form" class="form-group form-horizontal col-md-offset-2 col-sm-offset-2 col-xs-offset-2" name"profile_form" ng_submit="getQuestions()">
            <!-- our nested state views will be injected here -->
									<div class="row padding-top padding-bottom">
										<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
                      <label>Please enter the email for the account of the forgotten password.</label>
									  	<input type="email" name="email" class="form-control" ng-model="profileEmail" required>
									  	<p ng-show="profile_form.firstName.$invalid && !profile_form.firstName.$pristine" class="help-block">First name is required.</p>
										</div>
                    <input type="submit" value="Next" class="btn btn-default"/>
                  </div>
              </form>
        </div>
    </div>
</div>
