<div class="content row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="jumbotron">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center">Connecting the planet one face at a time!</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<img class="thumbnail" src="img/5602-2.jpg" alt="tempBoy" height="40%" width="65%"/>
						</div>
						<div class="col-xs-4">
							<img class="thumbnail" src="img/2016-05-17-8857-11.jpg" alt="tempBoy" height="65%" width="65%"/>
						</div>
						<div class="col-xs-4">
							<img class="thumbnail" src="img/1012584.jpg" alt="tempGirl" height="100%" width="100%"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="btn btn-lg btn-default" ng-click="signup()">Sign Up Now!</p>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
					<p class="text-justify">
						<small>
							Plannectme.com is a social media club whose goal is to visually connect the planet via pictures of individuals located throughout the different countries of the world. Plannectme.com
							<strong>is not a dating web site</strong>, the only way to identify the individuals is by their unique 12 digit number as well as what country they live in.
						</small>
					</p>

					<p class="text-left">
						<small>
							Plannectme's goal is to populate the site with pictures of people that are not only willing but exited to let the rest of the world’s population see them.
							They want to be seen but not necessarily contacted or inundated with information from their “friends”. This will be a club that anyone can join and enjoy the planet’s most interesting feature…….
							<strong>people!</strong>
						</small>
					</p>
					<p class="text-left">
						<small>
							As it stands now, the only groups within Plannectme's population that most of us get to see is celebrities, politicians and actors. Why not let everyone be seen who wants to be…….
							Because there will be no direct contact from one member to another the limitations that other sites have of allowing people to contact each other will not be an issue.
							Plannectme also wants to make this fun for people, Plannectme will have a rating aspect to Plannectme's site. If you feel comfortable you can have your picture rated by other club members.
							It will be up to the individual as to whether the rating score will be made available to anyone other than themselves. Plannectme will also have contests and age guessing games etc…
						</small>
					</p>
				</div>
			</div>
		<div>
</div>
