<div class="content row container-fluid" ng-init="step = 0">
	<div class="well col-xs-10 col-sm-10 col-md-10">
        <div class="page-header text-center">
          <div class="alert alert-danger" ng-show="passwordAlert">
  						<p><strong>Error: </strong>{{passwordError}}</p>
  				</div>
          <form class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1" name="user_password" ng-submit="submitPassword()">
            <div class="row">
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-10 col-sm-7 col-md-5 col-lg-3">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="passwordChange.newPassword" required>
                    <!-- <p ng-show="user_password.newPassword.$invalid && !user_password.newPassword.$pristine" class="help-block">New password is required.</p> -->
                  </div>
                  <div class="col-xs-10 col-sm-7 col-md-5 col-lg-3">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="passwordChange.confirmPassword" required>
                    <!-- <p ng-show="user_password.confirmPassword.$invalid && !user_password.confirmPassword.$pristine" class="help-block">Please confirm your new password.</p> -->
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" value="Change" class="btn btn-default"/>
          </form>
        </div>
      </div>
    </div>
