<div cg-busy="profiePromise">
	<div class="content row container-fluid">
		<div class="well custom-well col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<div class="alert alert-danger" ng-show="profileAlert">
				<p><strong>Error: </strong>{{profileError}}</p>
			</div>
			<label>User Info</label>
					<form class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1" name="profile_form" ng_submit="submitProfile()">
						<div class="row">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<label>First Name</label>
								  	<input type="text" name="firstName" class="form-control" ng-model="profileFormData.firstName" required>
								  	<p ng-show="profile_form.firstName.$invalid && !profile_form.firstName.$pristine" class="help-block">First name is required.</p>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<label>Last Name</label>
							  		<input type="text" name="lastName" class="form-control" ng-model="profileFormData.lastName" required>
							  		<p ng-show="profile_form.lastName.$invalid && !profile_form.lastName.$pristine" class="help-block">Last name is required.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<label>Date of Birth</label>
							  		<input type="date" name="dob" id="datePicker" class="form-control" ng-model="profileFormData.dob" required>
							  		<p ng-show="profile_form.dob.$invalid && !profile_form.dob.$pristine" class="help-block">Please enter a valid date of birth.</p>
									</div>
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
										<label>Gender</label>
								  	<select name="gender" class="form-control selectInput" ng-model="profileFormData.gender" required>
											<option disabled="disabled" value="">- please select -</option>
											<option value="M">Male</option>
											<option value="F">Female</option>
										</select>
								  	<p ng-show="profile_form.gender.$invalid && !profile_form.gender.$pristine" class="help-block">Please enter your gender.</p>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<label>Email</label>
								  	<input type="email" name="email" class="form-control" ng-model="profileFormData.email" required>
								  	<p ng-show="profile_form.email.$invalid && !profile_form.email.$pristine" class="help-block">Email is required.</p>
									</div>
										<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<label>Country</label>
										<country-select name="country" class="form-control selectInput" ng-model="profileFormData.country"></country-select>
										<p ng-show="profile_form.country.$invalid && !profile_form.email.$pristine" class="help-block">Please enter your current country.</p>
									</div>
								</div>
							</div>
						</div>
						<input type="submit" value="Save" class="btn btn-default"/>
					</form>
		</div>
		<div class="well custom-well col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<label>Change Password</label>
			<div class="alert alert-danger" ng-show="passwordAlert">
				<p><strong>Error: </strong>{{passwordError}}</p>
			</div>
			<form class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1" name="user_password" ng_submit="submitPassword()">
				<div class="row">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<label>Old Password</label>
				  			<input type="password" name="oldPassword" class="form-control" ng-model="passwordChange.oldPassword" required>
				  			<!-- <p ng-show="user_password.oldPassword.$invalid && !user_password.oldPassword.$pristine" class="help-block">Please enter your old password.</p> -->
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<label>New Password</label>
						  	<input type="password" name="newPassword" class="form-control" ng-model="passwordChange.newPassword" required>
						  	<!-- <p ng-show="user_password.newPassword.$invalid && !user_password.newPassword.$pristine" class="help-block">New password is required.</p> -->
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<label>Confirm Password</label>
						  	<input type="password" name="confirmPassword" class="form-control" ng-model="passwordChange.confirmPassword" required>
						  	<!-- <p ng-show="user_password.confirmPassword.$invalid && !user_password.confirmPassword.$pristine" class="help-block">Please confirm your new password.</p> -->
							</div>
						</div>
					</div>
				</div>
				<input type="submit" value="Change" class="btn btn-default"/>
			</form>
		</div>
		<div class="well custom-well col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<label>Change Pictures</label>
			<form class="col-lg-12" name="profile_pics" ng_submit="submitPictures()">
				<div class="row">
					<div class="form-group">
						<div ng-repeat="image in images track by $index" class="col-lg-4 col-md-5 col-xs-7 thumb">
							<a ng-if="image.image && !image.image.name" class="thumbnail"><img ng-src="{{image.image}}"/></a>
							<a ng-if="!image.image || image.image.name" class="thumbnail"><img ngf-thumbnail="image.image || './img/defaultImage/defaultImage.gif'"/></a>
							<input type="file" ngf-select ng-model="images[$index].image" name="profile_pics.file{{$index}}" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />
						</div>
					</div>
				</div>
				<input type="submit" value="Save Pictures" class="btn btn-default"/>
			</form>
		</div>
	</div>
</div>
