<div ng-controller="ProfileViewController">
	<div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
		<h5 class="col-xs-7">{{countryName}}  {{countryEmoji}}</h5>
	</div>
		<div class="container imgSlider" ng-swipe-right="showPrev()" ng-swipe-left="showNext()">
			<!-- <span ng-click="previousProfile()" class="btn btn-special pre-button"></span> -->
		<!-- enumerate all photos -->
			<img ng-if="images.length != 0" ng-repeat="image in images track by $index" ng-hide="!isCurrentSlideIndex($index)" class="imgSlide slide-animation" ng-src="{{image}}" />
			<img ng-if="images.length == 0"  class="imgSlide" style="width:80%;" ng-src="./img/defaultImage/defaultImage.gif"/>
			<!-- extra navigation controls -->
			<!-- <span type="button" value="" ng-click="nextProfile()" class="btn btn-special next-button"></span> -->
			<a ng-click="previousProfile()" class="btn arrow pre-button"></a>
			<a ng-click="nextProfile()" class="btn arrow next-button"></a>
			<div ng-switch on="profileFav">
				<a ng-switch-default ng-click="favouriteProfile()" class="btn fav-btn fav-button"></a>
				<a ng-switch-when="true" ng-click="removeFavourite()" class="btn fav-btn fav-active"></a>
			</div>
			<ul class="imgNav">
				<li ng-repeat="image in images track by $index" ng-class="{'active':isActive($index)}">
					<img src="{{image}}" alt="{{image}}" title="{{image}}" ng-click="showPhoto($index);"/>
				</li>
			</ul>
			<div class="row rateNav">
				<div ng-show="profileData[profileIndex].allow_rating" class="col-xs-12">
					<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
				</div>
			</div>
		</div>
	<div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
		<h5 class="col-xs-4 col-xs-offset-1 text-left">{{profileData[profileIndex].profile_id}}</h5>
		<h5 ng-show="profileData[profileIndex].visable_rating" class="col-xs-3 col-xs-offset-1 text-right">{{profileAverage}}%</h5>
	</div>
</div>
